<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings
  xmlns="http://maven.apache.org/SETTINGS/1.1.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">
  <localRepository>/root/.m2/repository</localRepository>
  <servers>
    <server>
      <username>${env.F8_USER}</username>
      <password>${env.F8_PWD}</password>
      <id>fabric8.upload.repo</id>
    </server>
    <server>
      <id>TomcatServer</id>
      <username>${env.TOMCAT_USER}</username>
      <password>${env.TOMCAT_PWD}</password>
    </server>
    <server>
      <id>nexus</id>
      <username>${env.NEXUS_USER}</username>
      <password>${env.NEXUS_PWD}</password>
    </server>
    <server>
      <id>fabric8.console</id>
      <username>${env.F8_CONSOLE_USER}</username>
      <password>${env.F8_CONSOLE_PWD}</password>
    </server>
    <server>
      <id>jboss-releases-repository</id>
      <username>${env.JBOSS_USER}</username>
      <password>${env.JBOSS_PWD}</password>
    </server>
    <server>
      <id>fuse-all</id>
      <configuration>
        <httpConfiguration>
          <all>
            <connectionTimeout>120000</connectionTimeout>
            <readTimeout>120000</readTimeout>
          </all>
        </httpConfiguration>
      </configuration>
    </server>
  </servers>
  <profiles>
    <profile>
      <id>fis</id>
      <repositories>
        <repository>
          <id>redhat-ga</id>
          <name>redhat-ga</name>
          <url>https://maven.repository.redhat.com/ga</url>
          <layout>default</layout>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>redhat-ea</id>
          <name>redhat-ea</name>
          <url>https://maven.repository.redhat.com/earlyaccess/all</url>
          <layout>default</layout>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
      </repositories>

      <pluginRepositories>
        <pluginRepository>
          <id>redhat-ga</id>
          <name>redhat-ga</name>
          <url>https://maven.repository.redhat.com/ga/</url>
          <layout>default</layout>
        </pluginRepository>
        <pluginRepository>
          <id>redhat-ea</id>
          <name>redhat-ea</name>
          <url>https://maven.repository.redhat.com/earlyaccess/all</url>
          <layout>default</layout>
        </pluginRepository>
      </pluginRepositories>
    </profile>
    <profile>
      <repositories>
        <repository>
          <releases>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
            <updatePolicy>never</updatePolicy>
          </snapshots>
          <id>jboss-community-repository</id>
          <name>Jboss community repository</name>
          <url>http://repository.jboss.org/nexus/content/groups/public/</url>
        </repository>
        <repository>
          <releases>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
            <updatePolicy>never</updatePolicy>
          </snapshots>
          <id>repository-jboss-org-ea</id>
          <name>Jboss EA</name>
          <url>https://repository.jboss.org/nexus/content/repositories/ea/</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <releases>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
            <updatePolicy>never</updatePolicy>
          </snapshots>
          <id>jboss-community-repository</id>
          <name>Jboss community repository</name>
          <url>http://repository.jboss.org/nexus/content/groups/public/</url>
        </pluginRepository>
        <pluginRepository>
          <releases>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
            <updatePolicy>never</updatePolicy>
          </snapshots>
          <id>repository-jboss-org-ea</id>
          <name>Jboss EA</name>
          <url>https://repository.jboss.org/nexus/content/repositories/ea/</url>
        </pluginRepository>
      </pluginRepositories>
      <id>jboss-community-repository</id>
    </profile>
    <profile>
      <repositories>
        <repository>
          <releases/>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>fusesource</id>
          <url>http://repo.fusesource.com/nexus/content/groups/public/</url>
        </repository>
      </repositories>
      <id>fusesource</id>
    </profile>
    <profile>
      <id>fusewin</id>
      <repositories>        
        <repository>
          <id>fuse-all</id>
          <name>fusewin fuse-all</name>
          <url>https://nexus.fuse-qe.eng.rdu2.redhat.com/repository/fuse-all/</url>
          <layout>default</layout>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>     
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>fuse-all</id>
          <name>fusewin fuse-all</name>
          <url>https://nexus.fuse-qe.eng.rdu2.redhat.com/repository/fuse-all/</url>
          <layout>default</layout>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </pluginRepository>           
      </pluginRepositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>jboss-community-repository</activeProfile>
    <activeProfile>fusesource</activeProfile>
    <activeProfile>fusewin</activeProfile>
    <activeProfile>fis</activeProfile>
  </activeProfiles>
  <pluginGroups>
    <pluginGroup>org.apache.maven.plugins</pluginGroup>
    <pluginGroup>org.codehaus.mojo</pluginGroup>
    <pluginGroup>fr.jcgay.maven.plugins</pluginGroup>
  </pluginGroups>
</settings>
